#hero {
  padding: 100px 0;
  position: relative;
  top: 100px;
  font-family: 'Public Sans', sans-serif;
  text-align: center;
  background: url("../../img/Main image.png") no-repeat center/cover;
  min-height: 50vh;

  .hero {
    padding-top: 2px;
    &--tittle {
      display: flex;
      text-align: center;
      flex-direction: column;
      margin-top: 8rem;
      font-weight: 700;
      font-size: 48px;
      color: white;
    }

    &--text {
      padding-top: 20px;
      font-weight: 400;
      font-size: 18px;
    }
  }
}
@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  #hero{
    .container{
      .hero{
        &--tittle{
          margin-top: 3rem;
        }
      }
    }
  }
}
@media (max-width: 1024px) {

  .container {
    width: 90%;
  }


  #hero{
    .container{
      width: 90%;
      margin:0 auto;
      .hero{
        &--title{
         h1{
           text-align: center;
         }
        }
      }
    }
  }
  #footer{
    .container{
      .footer{
        &--group{
          &__title{
            font-size: 33px;
          }
          &__textarea{
            width: 378px;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}

@media (max-width: 576px) {
#hero{
  .container{
    .hero {
      &--title{
        font-size: 28px;
      }
    }
  }
}
}
@media (max-width: 440px) {

}
@media (max-width: 380px) {

}
@media (max-width: 320px) {

}
