#allBooks {

  .allBooks--title {
    h1 {
      font-family: 'Public Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;
      letter-spacing: -0.03em;
      color: #19272E;
    }

    p {
      font-family: 'Public Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: -0.4px;
      margin-bottom: 85px;
      color: #19272E;
      opacity: 0.7;
    }

    &__select {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;

        h3 {
          font-family: 'Public Sans', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 22px;
          line-height: 30px;
          letter-spacing: -0.55px;
          color: #19272E;
          mix-blend-mode: normal;
        }

        a {
          font-family: 'Public Sans', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          text-decoration-line: underline;
          color: #818EEA;
        }
      }

      &--select {
        border: 2px solid #818EEA;
        border-radius: 8px;
        padding: 10px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        letter-spacing: -0.3px;
        color: #818EEA;
        outline: none;
      }
    }

  }

  .allBooks {
    display: flex;
    .allBooks--title__right--input {
      input {
        margin: 20px 0;
        font-size: 20px;
      }
      .allBooks--img{

      }

      label {
        font-family: 'Public Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #19272E;
        margin-left: 10px;
      }
    }
  }
}