#books{
  padding-top: 100px;
  .container{
    .books{
      &--text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title{
          font-size: 48px;
          color: #19272E;
        }
        &__view{
          font-size: 18px;
          color: #818EEA;
        }
      }
      &--slider{


       &__title{
         &--image{
           width: 200px;
           padding-top: 2px;
         }
         &--text{
           display: flex;
           align-items: flex-start;
           font-size: 18px;
           color: #19272E;
           width: 185px;
         }
         &--span{
           display: flex;
           align-items: flex-start;
           font-size: 18px;
           color: #19272E;
         }
       }
      }
    }
  }
}

//.slick-track {
//  display: flex;
//}
//.slick-slide {
//  display: flex;
//}
//.slick-slider .slick-list {
//  display: flex;
//  align-items: center;
//  transform: translate3d(0, 0, 0);
//  justify-content: space-between;
//}

@media (max-width: 1200px) {
  #books{
    .container{
      width: 85%;
      .books{
        &--text{
          &__view{
            padding-right: 43px;
          }

        }
        &--slider{
          &__title{
            &--image{
              width: 178px;
            }
            &--text{
              font-size: 16px;
            }
            &--span{
              font-size: 17px;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 1025px) {
  #books{
    .container{
      .books{
        &--slider{
          &__title{
            &--image{
              width: 160px;
            }
            &--text{
              font-size: 12px;
              width: 160px;
            }
            &--span{
              font-size: 16px
            }
          }
        }
      }
    }
  }
}
























