#footer{
  background: #818EEA;
  padding-top: 50px;
  margin-top: 80px;
  padding-bottom: 100px;
  .container{
    .footer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: start;
      margin-top: 40px;
     &--group{
     &__title{
       font-size: 36px;
       color: #FFFFFF;
     }
       &__span{
         font-size: 14px;
         color: #FFFFFF;
         margin: 20px 0;
       }
       &__textarea{
         position: relative;
         border: 1px solid #FFFFFF;
         border-radius: 8px;
         width: 400px;
         height: 40px;
         background: transparent;
         font-size: 14px;
         outline: none;
         padding-left: 10px;
         color: #F5F5F5;
       }
     }
      &--titles{
       &__text{
         font-size: 16px;
         color: #FFFFFF;
         margin: 5px 0;

       }
        p{
          color: white;
          font-size: 15px;
          margin: 4px 0;
        }
      }
      &--website{
        h1{
          font-size: 30px;
          color: #FFFFFF;
          padding: 15px 0;
        }
        a{
          margin: 0 2px;
          font-size: 24px;
          color: darkslategrey;
        }
      }
    }
  }
}
@media (max-width: 1200px) {

  #footer {

    .container{
      width: 90%;
      margin: 0 auto;

      .footer {

      }
    }
  }

}
@media (max-width: 1024px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
#footer{
  .container{
    .footer{
      flex-wrap: wrap;
      &--group{
        &__title{
          font-size: 32px;
        }
        &__span{
          font-size: 16px;
        }
      }
    }
  }
}
}
@media (max-width: 576px) {

}
@media (max-width: 440px) {

}
@media (max-width: 380px) {

}
@media (max-width: 320px) {

}
